# ignore all __pycache__ directories across the project
**/__pycache__/

# ignore MOT datasets and trcker results
evaluation/datasets/**
evaluation/tracker_results/**
# keep directory structure
!evaluation/datasets/.gitkeep
!evaluation/tracker_results/.gitkeep
# keep ground-truth of datasets
!evaluation/ground_truths/**

# ignore neural network models
dnn_utils/models/**
# keep directory structure
!dnn_utils/models/.gitkeep

application/tmp/*
!application/tmp/.gitkeep
application/interface/data.js