# ignore all __pycache__ directories across the project
**/__pycache__/

# ignore MOT Challenge dataset directory
MOT16/

# ignore models
dnn_utils/models/

evaluation/MOT16-train/fast_track/**
evaluation/MOT16-train/fast_track/data/**
!evaluation/MOT16-train/fast_track/data/
