# ignore all __pycache__ directories across the project
**/__pycache__/

# ignore MOT Challenge dataset directory
MOT16/

# ignore models
dnn_utils/models/
*.pt

# ignore tracking results
evaluation/tracking_result/
